+e.image._main
	if mainImage
		+e.image-i(style=`background-image:url("${mainImage}");`)
		- console.log(mainImage)
	if videoLink
		+e('video').image-v(data-video=videoLink.src data-type="video/mp4" poster=videoLink.poster muted loop)

+e.content
	+e.content-bg
	if title
		+e.title= title

+e.image._center
	+e("img").image-bottle(src=i('null.png'))

unless hideAddImage
	- classes = []
	if addImageMask
		- classes.push("media-widget__image_mask")
	+e.image._add(class=classes)
		if addImage
			+e.image-i(style=`background-image:url("${addImage}");`)
