+e.image._main
	if mainImage
		+e.image-i(style=`background-image:url("${mainImage}");`)
	if videoLink
		+e('video').image-v(data-video=videoLink.src type="video/mp4" preload="preload" poster=videoLink.poster)

+e.content
	+e.content-bg
	if title
		+e.title= title

+e.image._center

unless hideAddImage
	- classes = []
	if addImageMask
		- classes.push("media-widget__image_mask")
	+e.image._add(class=classes)
		if addImage
			+e.image-i(style=`background-image:url("${addImage}");`)
