+e.wrap
	+e.wrap-inner
		if data.image
			+e.image(class="lozad" data-background-image=data.image)
		if data.video
			+e.video-wrapper
				+e("video").video(class='video-lozad' data-video=data.video data-type="video/mp4" loop muted data-poster=data.poster)
+e.content
	if data.title
		+e.title!= data.title
	if data.slider
		+e.slider-wrapper
			+e.slider-text
				+e.text-vertical!= data.slider.verticalTxt
			+e.slider
				if data.slider.bottleImage
					+e.slider-inner
						each image, index in data.slider.bottleImage
							- classes = []
							if index == 0
								- classes.push("active")
							+e.slider-item(class=classes)
								+e("img").slider-image(src=image, alt="")
+e.close
