if list
	+e.desktop
		+e.item
			+b.product-params#product-params-2(data-product=list[1].slug): +i({
				text: list[1].text
			})
			+b.product-cover(data-target="#product-params-1"): +i({ data: list[0] })
		+e.item
			+b.product-params#product-params-1(data-product=list[0].slug): +i({
				text: list[0].text
			})
			+b.product-cover(data-target="#product-params-2"): +i({ data: list[1] })
		+e.item
			+b.product-params#product-params-4(data-product=list[3].slug): +i({
				text: list[3].text
			})
			+b.product-cover(data-target="#product-params-3"): +i({ data: list[2] })
		+e.item
			+b.product-params#product-params-3(data-product=list[2].slug): +i({
				text: list[2].text
			})
			+b.product-cover(data-target="#product-params-4"): +i({ data: list[3] })
		+e.item
			+b.product-params#product-params-6(data-product=list[5].slug): +i({
				text: list[5].text
			})
			+b.product-cover(data-target="#product-params-5"): +i({ data: list[4] })
		+e.item
			+b.product-params#product-params-5(data-product=list[4].slug): +i({
				text: list[4].text
			})
			+b.product-cover(data-target="#product-params-6"): +i({ data: list[5] })
		+e.item
			+b.product-params#product-params-8(data-product=list[7].slug): +i({
				text: list[7].text
			})
			+b.product-cover(data-target="#product-params-7"): +i({ data: list[6] })
		+e.item
			+b.product-params#product-params-7(data-product=list[6].slug): +i({
				text: list[6].text
			})
			+b.product-cover(data-target="#product-params-8"): +i({ data: list[7] })
		+e.item
			+b.product-cover(data-target="#product-params-9"): +i({ data: list[8] })
		+e.item
			+b.product-params#product-params-9(data-product=list[8].slug): +i({
				text: list[8].text
			})
	+e.mobile
		+e.item
			+b.product-params#product-params-1(data-product=list[0].slug): +i({
				text: list[0].text
			})
			+b.product-cover(data-target="#product-params-1"): +i({ data: list[0] })
		+e.item
			+b.product-params#product-params-2(data-product=list[1].slug): +i({
				text: list[1].text
			})
			+b.product-cover(data-target="#product-params-2"): +i({ data: list[1] })
		+e.item
			+b.product-params#product-params-3(data-product=list[2].slug): +i({
				text: list[2].text
			})
			+b.product-cover(data-target="#product-params-3"): +i({ data: list[2] })
		+e.item
			+b.product-params#product-params-4(data-product=list[3].slug): +i({
				text: list[3].text
			})
			+b.product-cover(data-target="#product-params-4"): +i({ data: list[3] })
		+e.item
			+b.product-params#product-params-5(data-product=list[4].slug): +i({
				text: list[4].text
			})
			+b.product-cover(data-target="#product-params-5"): +i({ data: list[4] })
		+e.item
			+b.product-params#product-params-6(data-product=list[5].slug): +i({
				text: list[5].text
			})
			+b.product-cover(data-target="#product-params-6"): +i({ data: list[5] })
		+e.item
			+b.product-params#product-params-7(data-product=list[6].slug): +i({
				text: list[6].text
			})
			+b.product-cover(data-target="#product-params-7"): +i({ data: list[6] })
		+e.item
			+b.product-params#product-params-8(data-product=list[7].slug): +i({
				text: list[7].text
			})
			+b.product-cover(data-target="#product-params-8"): +i({ data: list[7] })
		+e.item
			+b.product-cover(data-target="#product-params-9"): +i({ data: list[8] })
			+b.product-params#product-params-9(data-product=list[8].slug): +i({
				text: list[8].text
			})
