if list
	+e.list
		each item in list
			+e.list-item
				+e.product(data-slug=item.slug)
					+e.product-image(style=`background-image:url("${item.image}");`)
						if item.title
							+e.product-title!= item.title
					+e.product-content
						if item.list
							each subitem in item.list
								+e.product-row(data-sizeKey=subitem.key data-price=subitem.price data-amount=subitem.amount)
									- [volume, packSize] = subitem.key.split('-')
									- title = subitem.amount + " x " + volume + ", pack of " + packSize
									+e.product-info!= title
									if subitem.price
										+e.product-price!= subitem.price
									unless hideControls
										+e.controls
											+e.controls-item._plus
											+e.controls-item._minus
unless hideTotal
	+e.total
		+e.total-label Your Total
		+e.total-value $ 280.00

if showPriceList
	+e.prices
		+e.prices-item
			+e.prices-label Subtotal
			+e.prices-value $ 280.00
		+e.prices-item
			+e.prices-label Shipping
			+e.prices-value $ 15.00
		+e.prices-item
			+e.prices-label Your Total
			+e.prices-value $ 295.00

unless hidePayments
	+e.payments
		+e.payments-item
			+e.payments-label#go-to-checkout(data-checkout="/checkout-step-1.html") Checkout
		+e.payments-item
			+e("a").payments-link(href="/")
				+e("img").payments-icon._amazon(src=i("amazon-pay.svg"), alt="" width="101" height="21")
		+e.payments-item
			+e("a").payments-link(href="/")
				+e("img").payments-icon(src=i("paypal.svg"), alt="" width="91" height="23")
				
+e.empty
	+e.empty-title Your cart is empty
	+e.empty-content
		+e.empty-item
			+e.empty-message Log in to see your cart and get shopping!
			+e("a").empty-link.btn(href="#login-modal" data-toggle="modal" data-dismiss="modal") Login
		+e.empty-item
			+e.empty-message or add some products
			+e("a").empty-link.btn(href="/products.html" data-id="catalog") Products
	
