+e.item.active
	+e.item-header.radio
		label
			input(type="radio" name="payment" value="same" checked)
			+e("span").panel
				+e("span").panel-label Credit card
				+e("span").panel-icons
					img(src=i('visa-logo.svg') alt="" width="38" height="24")
					img(src=i('mc-logo.svg') alt="" width="38" height="24")
					img(src=i('amex-logo.svg') alt="" width="38" height="24")
					img(src=i('discover-logo.svg') alt="" width="38" height="24")
	+e.item-wrap
		.row
			.col-sm-9
				.form-group
					input.form-control.card-number(type="text" placeholder="Card Number")
		.row
			.col-sm-6
				.form-group
					input.form-control.card-name(type="text" placeholder="Name on card")
			.col-sm-3.col-xs-6
				.form-group
					input.form-control.card-expire(type="text" placeholder="MM/YY")
			.col-sm-3.col-xs-6
				.form-group
					input.form-control.card-cvv(type="text" placeholder="CVV")
+e.item
	+e.item-header.radio
		label
			input(type="radio" name="payment" value="paypal")
			+e("span").panel
				+e("span").panel-icons
					img(src=i("paypal-logo.png"), alt="")
+e.item
	+e.item-header.radio
		label
			input(type="radio" name="payment" value="amazon-pay")
			+e("span").panel
				+e("span").panel-icons
					img(src=i("amazon-pay.jpg"), alt="")
